
    <div class="footer-nav">
        <h3 class="footer-title">BASED BANK BUSINESS</h1>
            <ul>
                <li><a href="https://github.com/ACompleteNoobSmoke" target="_blank">Github</a></li>
                <li><a href ="https://www.linkedin.com/in/omoruyi-omofonmwan-03104494/" target="_blank">LinkedIN</a></li>
            </ul> 
    </div>
