<section class="footer-section">
    <div class="footer-nav">
        <h3 class="footer-title">BASED BANK BUSINESS</h1>
            <ul>
                <li><a href="#">Github</a></li>
                <li><a href ="#">LinkedIN</a></li>
            </ul> 
    </div>
</section>