<div class="header-nav">
    <h1 class="header-title">BASED BANK BUSINESS</h1>
    <ul class="header-links">
        <li><a href="/api/v1/">HOME</a></li>
        <li><a href ="/api/v1/login">LOG IN</a></li>
        <li><a href="/api/v1/registration">REGISTER</a></li>
    </ul>
</div>