
    <div class="header-nav">
        <h1 class="header-title">
            <h1 class="header-title">BASED BANK BUSINESS</h1>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href ="/login">LOG IN</a></li>
            <li><a href="/registration">REGISTER</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">ABOUT</a></li>
        </ul>
    </div>