<div class="header-nav">
    <h1 class="header-title">BASED BANK BUSINESS</h1>
    <ul class="header-links">
        <li><a href="/">HOME</a></li>
        <li><a href ="/login">LOG IN</a></li>
        <li><a href="/registration">REGISTER</a></li>
    </ul>
</div>