<section class="content-section">
    <div class="body-content">
        <div class="body-card">
            <h4 class="card-title">SAVE</h4>
            <img src="images/SaveMoney.jpg" alt="SAVE">

        </div>
        <div class="body-card">
            <h4 class="card-title">BASED</h4>
            <img src="images/IExc.gif" alt="LilB">
            
        </div>
        <div class="body-card">
            <h4 class="card-title">INVEST</h4>
            <img src="images/InvestMoney.jpg" alt="INVEST">
            
        </div>
    </div>
</section>