<div class="body-content">
    <div class="profile-part">
     <%-include('sidenav', {user: user}) %>
    </div>
    <div class="page-part">
        <div class="page-content registration-content edit-content">
            <h1>Edit Profile</h1>
            <label for="">First Name</label>
            <input type="text" name="firstName" placeholder="Please Enter First Name" id="" value="<%=user.firstName %>">
            <label for="">Last Name</label>
            <input type="text" name="lastName" placeholder="Please Enter Last Name" id="" value="<%=user.lastName %>">
            <label for="">Avatar</label>
            <input id="av-image" type="file" name="cover" class="filepond">
            <input type="submit" id="submit-btn" value="Edit">
            </form>
        </div>
    </div>
</div>