
        <img class="profile-av" src="<%=user.coverImagePath %>" alt="Avatar">
        <br>
        <span><%=user.userName %></span>
        <ul class="profile-link">
            <li><a href="/user/<%=user.id %>/deposit"><i class="fa-solid fa-money-bill-trend-up"> Deposit</i></a></li>
            <li><a href="/user/<%=user.id %>/withdraw"><i class="fa-solid fa-hand-holding-dollar"> Withdraw</i></a></li>
            <li><a href="/"><i class="fa-solid fa-money-bill-transfer"> Transfer</i></a></li>
            <li><a href="/"><i class="fa-solid fa-gears"> Edit</i></a></li>
            <li><a href="/"><i class="fa-solid fa-right-from-bracket"> Logout</i></a></li>
        </ul>
   