<div class="body-content">
    <div class="profile-part">
     <%-include('sidenav', {user: user}) %>
    </div>
    <div class="page-part">
        <div class="page-content">
            <h1>Transfer</h1>
            <form action="" method="post">
                <p>Current Amount: $200</p>
                <label>Transfer From</label>
                <select name="" id="">
                    <option value="Checking">Checking</option>
                    <option value="Saving">Saving</option>
                </select>
                <br><br>
                <label>Amount</label>
                <input type="number" name="" id="">
                <br>
                <input type="submit" id="submit-btn" value="Transfer">
            </form>
        </div>
    </div>
</div>