
    <div class="body-content form-content">
        <div class="registration-content">
            <h1>LOG IN </h1>
            <form action="user/logininfo" method="post">
                <br>
                    <label for="">User Name</label>
                    <input type="text" name="userName" placeholder="Please Enter Unique User Name" required  id="">
                    <label for="">Password</label>
                    <input type="password" name="password" placeholder="Please Enter Unique Password" required  id="">
                    <input type="submit" value="SIGN IN">   
            </form>
            <p> Don't Have An Account <span><a href="/registration">Click Here To Register</a></span></p>
        </div>
    </div>
